@{
    ViewBag.Title = "About";
}

@*@ViewBag.Header*@
<div class="col-sm-7">
    <p>В Республике Беларусь, благодаря вниманию Главы государства и Правительства стран, физическая культуа и спорт отнесены к числу важнейших факторов социально-экономического развитя обзества и государства</p>
    <p>Реализуемые Министерством спорта и туризма Республики Беларусь государственные программы носят социальную направлнность, так как физическая культура, массовый сорт, оздоровительный туризм - универсальные средства укрепления и сохранения здоровья нации, формирования здорового образа жизни</p>
    <p>Благодаря принятым мерам к систематическим занятиям физической культурой и спортом вне государственных програм привлечено 16%, или 1 млн. 520 тыс. жителей республики. Около 28-30% физически активного и трудоспособного населения вовлечены в занятия массовым спортом.</p>
    <p>Белорусскими спортсменами на олимпийских играъ, чемпионатах, кубках и первенствах мира и Европы за последнее вреся завоевано более 500 медалей.</p>
    <p>Нашло свое даьнейшее развитие и совершенствование материално-технической базы физической культуры и спорта. В стране функционирует более 25,8 тыс. объектов физкультурно-спортивного назначения, в том числе 230 стадионов, 265 плавательных бассейнов, более 5 тыс. спортивных залов, 42 манежа, 25 спортивных сооружения с искусственным льдом и более 12 тыс. плоскостных спортивных сооружений</p>
    <p>В последние годы введен в строй ряд спотивнх объектов спортивных объектов мирового уровня: футббольный манеж и много профильный культурно-спортивный комплекс "Минск-арена" в Минске, гребные каналы в Жлобине и Бресте.</p>
    <p>В 2010 г. введены в строй Ледовый дворец и стадион в Лиде, Дворец водных видов спорта в Бресте, Дворец гимнастики в Могилеве и много другое.</p>
    <p>Все это способствует развитию спорта высших достижений в нашей республике и проведения ряда международных соревнований, что в свою очередь, благоприятно сказывается на укреплении мирового имиджа страны. </p>
</div>
