@model List<Infokiosk.Models.Event>
@{
    ViewBag.Title = "OlympicGames";
    var list = Model.GroupBy(x => x.Category.Name);
}

@foreach (var group in list)
{
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center">@group.Key</h1>
            <div class="row">
                @foreach (var game in group)
                {
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            @{ var path = game.Images + "\\Folder.png"; }
                            <a href="/Home/EventDescription/@game.Id"><img src="@path" alt="..." height="300"></a>
                        </div>
                    </div>
                                }
            </div>
        </div>
    </div>
                                }
@*<div class="jumbotron">
        <div class="container">
            <h1 class="text-center">Зимние Олимпийские игры</h1>
            <div class="row">
                @foreach (var game in winter)
                {
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            @{ var path = game.Images + "\\Folder.png"; }
                            <a href="/Home/EventDescription/@game.Id"><img src="@path" alt="..." height="300"></a>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center">Летние Олимпийские игры</h1>
            <div class="row">
                @foreach (var game in summer)
                {
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            @{ var path = game.Images + "\\Folder.png"; }
                            <a href="/Home/EventDescription/@game.Id"><img src="@path" alt="..." height="300"></a>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>*@
<script type="text/javascript" src="~/Scripts/CardScript.js"></script>
