@model List<Infokiosk.Models.Event>
@{
    ViewBag.Title = "OlympicGames";
}

@{
    var summer = Model.Where(x => x.Category == "Summer Olympic Games");
    var winter = Model.Where(x => x.Category == "Winter Olympic Games");
}

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Зимние Олимпийские игры</h1>
        <div class="row">
            @foreach (var game in winter)
            {
                <div class="col-sm-4">
                    <div class="thumbnail">
                        @{ var path = game.Images + "\\Folder.png"; }
                        <a href="/Home/EventDescription/@game.Id"><img src="@path" alt="..." height="300"></a>
                        @*<div class="caption">

                            <a href="/Home/EventDescription/@game.Id">
                                <h3 class="text-center">@game.Name</h3>
                            </a>
                        </div>*@
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Летние Олимпийские игры</h1>
        <div class="row">
            @foreach (var game in summer)
            {
                <div class="col-sm-4">
                    <div class="thumbnail">
                        @{ var path = game.Images + "\\Folder.png"; }
                        <a href="/Home/EventDescription/@game.Id"><img src="@path" alt="..." height="300"></a>
                        @*<div class="caption">
                            <a href="/Home/EventDescription/@game.Id">
                                <h3 class="text-center">@game.Name</h3>
                            </a>
                        </div>*@
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/CardScript.js"></script>
